/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html{
  position: relative;
  min-height: 100%;
}
body{
  margin: 0;
  margin-bottom: 0;
  font-family: Roboto, 'Helvetice New', 'Arial', sans-serif
}
.full-width {
  width: 100%;
}
.cardSesion{
  text-align: center;
  background-color: #DBD7DB;
  margin-top: 10px;
  margin-bottom: 10px;
}
.colorButton{
  background-color: #FA9278;
  color: #ffffff;
}
