<div fxLayout="row" fxLayoutAlign="space-around">
  <div fxFlex="35">
    <mat-card class="cardSesion">
      <span>Iniciar sesion</span>

      <form [formGroup]="loginForm">

        <mat-form-field class="full-width">
          <input matInput placeholder="Correo"
                 type="email"
                 formControlName="email">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput
                 placeholder="Contraseña"
                 type="password"
                 formControlName="password">
        </mat-form-field>

        <button mat-button class="full-width colorButton"
                [disabled]="!loginForm.valid"
                (click)="login()">
          <span>Entrar</span>
        </button>

      </form>
      <button mat-button class="full-width buttonFacebook colorButton">
        <span>Iniciar con Facebook</span>
        <fa name="facebook-square"
            data-share="true"
            data-width="450"
            data-show-faces="true"
            class="iconColor fa-lg fb-like"
            (click)="loginFacebook()"></fa>
      </button>

      <button mat-button class="full-width colorButton">
        <span>Iniciar con Gmail</span>
        <fa name="google-plus"
            class="iconColor fa-lg"></fa>
      </button>
    </mat-card>
  </div>
  <div fxFlex="35">
    <register></register>
  </div>
</div>



