#header{
  background-color: #46A1B4;
  color: #E3F2FD !important;
}
.sectionBody{
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}
#header nav{
  width: 100%;
}
#txtBuscar{
  width: 21%;
}

nav a{
  color: #E3F2FD !important;
  min-width: 85px !important;
}
.coloBotones{
  color: white !important;
}
/deep/ .mat-menu-content {
  background-color: #46A1B4 !important;
}
mat-divider {
  background-color: white;
}
