<div fxLayout="column">
  <div fxFlex>
    <mat-toolbar id="header">
      <nav mat-tab-nav-bar>

        <a mat-tab-link
           [routerLink]="['home']">
          Home
        </a>
        <a mat-tab-link
           [routerLink]="['maladies']">
          Enfermedades
        </a>
        <a mat-tab-link
           [routerLink]="['acerca']">
          acerca
        </a>
        <a mat-tab-link
           [routerLink]="['map']">
          Mapa
        </a>
        <a *ngIf="!user"
           mat-tab-link
           [routerLink]="['login']">
          Login
        </a>

        <div *ngIf="user">
          <a mat-tab-link>
            <a mat-tab-link [matMenuTriggerFor]="menu">
              <span>Aportes</span>
              <mat-menu #menu="matMenu" class="coloBotones">
                <button mat-menu-item
                        class="coloBotones"
                        (click)="goToMisAportes()">Mis aportes</button>
                <mat-divider></mat-divider>
                <button mat-menu-item
                        class="coloBotones"
                        (click)="goToRealizarAporte()">Realizar aporte</button>
                <mat-divider></mat-divider>
                <button mat-menu-item
                        class="coloBotones"
                        (click)="goToReportes()">Reportes</button>
              </mat-menu>
            </a>
          </a>
          <a mat-tab-link>
            Perfil
          </a>
          <a mat-tab-link (click)="fnLogaout()">
            Cerrar sesión
          </a>
        </div>
        <span fxFlex>
        </span>

        <input id="txtBuscar" name="txtBuscar" placeholder="Buscar">
      </nav>
    </mat-toolbar>
  </div>
  <div fxFlex class="sectionBody">
    <router-outlet ></router-outlet>
  </div>
  <div fxFlex class="footer">
    <footer></footer>
  </div>
</div>
