<agm-map [latitude]="latCenterChia"
         [longitude]="longCenterChia">
  <div *ngFor="let arrPosition of objAllPositions">
    <agm-marker [latitude]="parseInt(arrPosition?.loc_latitude) "
                [longitude]="parseInt(arrPosition?.loc_longitude)">
      <agm-info-window>{{ arrPosition?.name_person }}</agm-info-window>
    </agm-marker>
  </div>
</agm-map>
