<div fxLayout="row" fxLayoutAlign="space-around">
  <div fxFlex="20"></div>
  <div fxFlex="60">
      <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">

        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Información general</ng-template>
            <mat-form-field class="full-width">
              <mat-select placeholder="Parentesco"
                          formControlName="relationsShip"
                          required>
                <mat-option *ngFor="let relation of objAllrelationships" [value]="relation.id">
                  {{ relation.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-select placeholder="¿Ya se ha realizado aportes para la persona seleccionada ?"
                          formControlName="existUser"
                          required>
                <mat-option *ngFor="let newUser of objNewUser"
                            [value]="newUser.value" (click)="fnExistAporteForUser()">
                  {{ newUser.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width" *ngIf="firstFormGroup.value.existUser == 'si'">
              <mat-select placeholder="Seleccione el aportante."
                          formControlName="idAportante">
                <mat-option *ngFor="let newUser of objNewUser"
                            [value]="newUser.value">
                  {{ newUser.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div>
              <button mat-button
                      matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Informacion del aportante</ng-template>

            <mat-form-field class="full-width">
              <input matInput
                     placeholder="Nombre"
                     formControlName="name"
                     required>
            </mat-form-field >

            <mat-form-field class="full-width">
              <input matInput
                     placeholder="Apellidos"
                     formControlName="last_names"
                     required>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput
                     [matDatepicker]="picker"
                     placeholder="Fecha de nacimiento"
                     formControlName="date_born">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div>
              <button mat-button
                      matStepperPrevious>Atras</button>
              <button mat-button
                      matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup " style="text-align: center;">

          <form [formGroup]="thirdFormGroup ">
            <ng-template matStepLabel>Semiologia</ng-template>

            <div fxLayout="row">
              <div fxFlex>
                <mat-card>
                  <mat-form-field class="full-width">
                  <input type="text"
                         placeholder="seleccione un sintoma"
                         aria-label="Number"
                         matInput
                         class="inputSymptom"
                         [formControl]="myControl"
                         [matAutocomplete]="auto" onfocus>
                    <mat-icon *ngIf="myControl.value"
                              (click)="cleanInputSimptom()"
                              class="iconPointer">cancel</mat-icon>

                    <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async"
                                [value]="option.id+'?'+option.name"
                                (click)="clickOnSymptom()">
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                </mat-card>
              </div>
              <div fxFlex>
                <mat-card>sintomas seleccionados

                  <mat-chip-list>

                    <mat-chip *ngFor="let simptom of simptoms"
                              [selectable]="selectable"
                              [removable]="removable"
                              (remove)="remove(simptom)">
                      {{simptom.name}}
                      <mat-icon matChipRemove
                                *ngIf="removable">cancel</mat-icon>
                    </mat-chip>

                  </mat-chip-list>

                </mat-card>
              </div>
            </div>


            <div>
              <button mat-button
                      matStepperPrevious>Atras</button>
              <button mat-button
                      matStepperNext (click)="fnValidateSymptom()">Siguiente</button>
            </div>
          </form>

        </mat-step>

        <mat-step [stepControl]="fourthFormGroup">
          <ng-template matStepLabel>Finalizar</ng-template>
          <button (click)="fnavailableLocation()">Habilitar localización</button>
          Para finalizar el porte por favor enviar la infomacion dando click en el boton "Enviar"
          <div>
            <button mat-button
                    matStepperPrevious>Atras</button>
            <button mat-button
                    [disabled]="!fourthFormGroup.valid"
                    (click)="fnSendData();">Enviar</button><!---->
          </div>
        </mat-step>
      </mat-horizontal-stepper>
  </div>
  <div fxFlex="20"></div>
</div>
