<mat-card class="cardSesion">
  <span>Abrir tu cuenta</span>

  <form [formGroup]="registerForm" >
    <mat-form-field class="full-width">
      <input matInput
             id="name"
             placeholder="Nombre"
             required
             formControlName="name">
    </mat-form-field>
    <!--
    <span *ngIf="name.touched && name.invalid"> El Nombre es obligatorio</span>
    -->

    <mat-form-field class="full-width">
      <input matInput
             placeholder="Apellidos"
             id="apellidos"
             required
             formControlName="last_names">
    </mat-form-field>
    <!--
    <span *ngIf="apellidos.touched && apellidos.invalid"> El Apellido es obligatorio</span>
    -->

    <mat-form-field class="full-width">
      <input matInput placeholder="Correo" type="email"
             id="email"
             required
             formControlName="email">
    </mat-form-field>
    <!--
    <span *ngIf="email.touched && email.invalid"> El Correo es obligatorio</span>
    -->

    <mat-form-field class="full-width">
      <input matInput
             placeholder="Contraseña"
             type="password"
             id="password"
             required
             formControlName="password">
    </mat-form-field>
    <!--
    <span *ngIf="password.touched && password.invalid"> La Contraseña es obligatoria</span>
    -->

    <mat-form-field class="full-width">
      <input matInput placeholder="Verificar contraseña" type="password"
             id="password_confirm"
             required
             formControlName="password_confirmation">
    </mat-form-field>
    <!--
     <span class="msnAlert" *ngIf="confirm_password.touched && confirm_password.invalid"> La confirmacion de la Contraseña es obligatoria.</span>
    <span class="msnAlert" *ngIf="confirm_password.touched && (objUser.password_confirmation !== objUser.password)"> La contraseña no coincide</span>
     -->


    <mat-form-field class="full-width">
      <input matInput
             [matDatepicker]="dateBorn"
             placeholder="Fecha de nacimiento"
             id="date_born"
             required
             formControlName="date_born">
      <mat-datepicker-toggle matSuffix [for]="dateBorn"></mat-datepicker-toggle>
      <mat-datepicker #dateBorn></mat-datepicker>
    </mat-form-field>
    <!--
    <span *ngIf="date_born.touched && date_born.invalid"> La fehca de nacimiento obligatoria</span>
    -->


    <button mat-button
            type="submit"
            class="full-width colorButton"
            [disabled]="!registerForm.valid" (click)="onSubmit()">
      <span>Abrir cuenta</span>
      <fa name="sign-in" class="iconColor fa-lg"></fa>
    </button>
  </form>
</mat-card>
