<div class="table-information-container mat-elevation-z8">
  <div class="table-information-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"
                class="pointer-mouse"
                (click)="goToDetailAporte(element)"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="last">
      <mat-header-cell *matHeaderCellDef> Apellido(s) </mat-header-cell>
      <mat-cell *matCellDef="let element"
                class="pointer-mouse"
                (click)="goToDetailAporte(element)"> {{element.last}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef> Ciudad </mat-header-cell>
      <mat-cell *matCellDef="let element"
                class="pointer-mouse"
                (click)="goToDetailAporte(element)"> {{element.city}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="relationship">
      <mat-header-cell *matHeaderCellDef> Parentesco </mat-header-cell>
      <mat-cell *matCellDef="let element"
                class="pointer-mouse"
                (click)="goToDetailAporte(element)"> {{element.relationship}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnstable"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnstable;"></mat-row>
  </mat-table>
</div>
