.card-list {
  min-width:230px;
}
.mat-card-image{
  margin: 0;
  max-width: 205px;
  min-height: 205px;
}
.mat-card-image:first-child{
  margin-top: 0;
}
@media (min-height: 770px) {
  .mat-card-image{
    margin: 0;
    max-width: 187px;
  }
}
