<div class="conten" fxLayout="row" fxLayoutAlign="space-around" fxLayoutWrap>
  <div fxFlex *ngFor="let card of objMaladies" class="cardMalady" (click)="fnGoToDetail(card.id)">

    <mat-card  class="card-list cssheigth">
      <mat-card-header>
        <mat-card-title>{{card.name}}</mat-card-title>
      </mat-card-header>
      <div *ngIf="card.img[0]?.name != null; else imageExist">
        <img class="imgMain" mat-card-image  [src]="url + 'img/' + card.img[0].name">
      </div>
      <ng-template #imageExist>
        <img class="imgMain"
             mat-card-image
             src="https://material.angular.io/assets/img/examples/shiba2.jpg">
      </ng-template>


      <mat-card-content>
        <p>
          {{card.description | slice:0:20 }}...
        </p>
        <!--url para la imagen <p *ngIf="card.img[0]">{{card.img[0].name}}</p>-->
      </mat-card-content>
    </mat-card>

  </div>
</div>


