<div fxLayout="column">
  <div fxFlex="10" class="tittle">
    <h2>{{objDataMalady.name}}</h2>
  </div>
  <div fxFlex="60" fxLayout="row" fxLayoutAlign="space-around">
    <div fxFlex="20">
      <carousel>
        <slide *ngFor="let imagen of objDataImages">
          <img [src]="url + 'img/'+ imagen.name" class="imgs">
        </slide>
      </carousel>
    </div>
    <div fxFlex="50" >

      <mat-card>
        <h4>Descripción</h4>
        {{objDataMalady.description}}
      </mat-card>

    </div>
    <div fxFlex="20">
      <h4>sintomas</h4>
      <div>
        <mat-list>
          <mat-list-item *ngFor="let simptom of objDataSymptoms">{{simptom.name}}</mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
  <div fxFlex="30">
    <mat-card>
      <h4>¿Como prevenirla?</h4>
    </mat-card>
  </div>
</div>
