.itemsFlex{
  margin-top: 10px;
  height: 520px;
}
.imgCarousel{
  display: block;
  width: 100%;
}

.itemsFlex img{
  max-height: 520px;
}

.card-information {
  max-width: 400px;
  min-height: 236px;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

@media (min-height: 770px) {
  .itemsFlex{
    margin-top: 15px;
    height: 800px;
  }

  .itemsFlex img{
    min-height: 800px;
  }

  .card-information {
    max-width: 600px;
    min-height: 367px;
    padding-top: 74px;
  }
}
