<div id="content" fxLayout="row" fxLayoutAlign="space-around">
  <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-between" class="itemsFlex">
    <div fxFlex="47">

      <mat-card class="card-information">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>

    </div>
    <div fxFlex="47">

      <mat-card class="card-information">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Aportes</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
  <div fxFlex="60" class="itemsFlex">

    <carousel>
      <slide>
        <img [src]="url + 'img/berries-berry-bowl-838846.jpg'" alt="First slide" class="imgCarousel">
        <div class="carousel-caption d-none d-md-block">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </slide>
      <slide>
        <img [src]="url + 'img/endurance-exercise-female-40751.jpg'" alt="Second slide" class="imgCarousel">
        <div class="carousel-caption d-none d-md-block">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </slide>
      <slide>
        <img [src]="url + 'img/appetizing-citrus-clementines-327098.jpg'" alt="Third slide" class="imgCarousel">
        <div class="carousel-caption d-none d-md-block">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </slide>
      <slide>
        <img [src]="url + 'img/adventure-city-country-240834.jpg'" alt="Third slide" class="imgCarousel">
        <div class="carousel-caption d-none d-md-block">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </slide>
    </carousel>

  </div>
</div>
