<div fxLayout="row" fxLayoutAlign="space-around">
  <div fxFlex="20"></div>
  <div fxFlex="60">
    <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Informacion del aportante</ng-template>

          <mat-form-field class="full-width" >
            <input matInput
                   placeholder="Parentesco"
                   formControlName="relationsShip">
          </mat-form-field >

          <mat-form-field class="full-width">
            <input matInput
                   placeholder="Nombre"
                   formControlName="name">
          </mat-form-field >

          <mat-form-field class="full-width">
            <input matInput
                   placeholder="Ciudad"
                   formControlName="city">
          </mat-form-field >

          <mat-form-field class="full-width">
            <input matInput
                   placeholder="Apellidos"
                   formControlName="last_names">
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput
                   [matDatepicker]="picker"
                   placeholder="Fecha de nacimiento"
                   formControlName="date_born">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <div>
            <button mat-button
                    matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="thirdFormGroup " style="text-align: center;">

        <form [formGroup]="thirdFormGroup ">
          <ng-template matStepLabel>Semiologia</ng-template>

          <div fxLayout="row">
            <div fxFlex>
              <mat-card>sintomas seleccionados

                <mat-chip-list>

                  <mat-chip *ngFor="let symptom of symptoms"
                            [selectable]="selectable">
                    {{symptom.name}}
                  </mat-chip>

                </mat-chip-list>

              </mat-card>
            </div>
          </div>


          <div>
            <button mat-button
                    matStepperPrevious>Atras</button>
          </div>
        </form>

      </mat-step>

    </mat-horizontal-stepper>
  </div>
  <div fxFlex="20"></div>
</div>
